<!DOCTYPE html>
<html>
<head>
	<title>CardGame submit</title>
	<link rel="stylesheet" type="text/css" href="cardGame.css">
</head>
<body>

<h1>Welcome!</h1>
<form action="/submit" method="post">
	<input type="text" placeholder="Username" name="username">
	<input type="password" placeholder="password" name="password">
	<button id="submit" class="button">submit</button>
</form>

</body>
</html>