<!DOCTYPE html>
<html>
<head>
<title><%=username%></title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="cardGame.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type='text/javascript' src='trade.js'></script>
	<%- include('./search_bar'); %>
</head>    
<div class="container">
<body class='blue-grey darken-4'>
    <input id='owner' placeholder='nome proprietario'></input>
    <input id='card' placeholder='nome carta'></input>
    <button id='find'>cerca</button> 

    <input id='message' placeholder='messaggio'></input>
    <input id='toInsert' placeholder='nome carta'></input>
    <button id='insert'>inserisci</button> 

    <input id='toDel' placeholder='id trade'></input>
    <button id='remove'>elimina</button>

    <table id='table' class='centered blue-grey darken-3 z-depth-4 cardList'></table>
</body>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>

