<!DOCTYPE html>
<html>
<head>
<title><%=username%></title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="cardGame.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type='text/javascript' src='trade.js'></script>
	<%- include('./search_bar'); %>
</head>    
<div class="container">
<body class='blue-grey darken-4'>
    <div class='row card-content blue-grey darken-4'>
        <input class='col s4' id='owner' placeholder='nome proprietario'></input>
        <input class='col s4 offset-s1' id='card' placeholder='nome carta'></input>
        <button class='waves-effect waves-light deep-orange lighten-1 btn z-depth4 col s2 offset-s1' id='find'>cerca</button> 
    </div>
    <div class = 'row card-content blue-grey darken-4'>
        <input class='col s4' id='message' placeholder='messaggio'></input>
        <input class='col s4 offset-s1' id='toInsert' placeholder='nome carta'></input>
        <button class='waves-effect waves-light deep-orange lighten-1 btn z-depth4 col s2 offset-s1' id='insert'>inserisci</button> 
    </div>
    <div class='row card-content blue-grey darken-4'>
        <input class='col s9' id='toDel' placeholder='id trade'></input>
        <button class='waves-effect waves-light deep-orange lighten-1 btn z-depth4 col s2 offset-s1' id='remove'>elimina</button>
    </div>
    <table id='table' class='centered blue-grey darken-3 z-depth-4 cardList'></table>
</body>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>

