h1, h2, h3, h4, h5
{
  color: #ffffff;
}

p
{
  color: #ffffff;
}

button
{
  margin-top: 10px;
}

ul
{
  column-count: 1;
}

input
{
  color: #ffffff;
}

th
{
  color: #ffffff;
}

tr
{
    color: #ffffff;
}
img
{
  width: 80%;
  height: 80%;
}

.canvas
{
  width: 50%;
  height: 50%;
}

.sameSize
{
  width: 90%;
  table-layout: fixed;
}
