body
{
	background-color: #2b2625;
}

input
{
	padding: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  border: solid;
  border-color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button1 {
  background-color: #eb761c; 
  border: none;
  color: white;
  border: solid;
  border-color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button2 {
  background-color: #872a29;
  border: solid;
  border-color: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h3, li
{
	color: #ffffff
}

a
{
	color: #ffffff
}

h1, h2, title
{
	color: #ed7011;

}