h1, h2, h3, h4, h5
{
  color: #ffffff;
}

p
{
  color: #ffffff;
}

button
{
  margin-top: 10px;
}

ul
{
  column-count: 3;
}

input
{
  color: #ffffff;
}

th
{
  color: #ffffff;
}

img
{
  width: 80%;
  height: 80%;
}

.sameSize
{
  width: 90%;
  table-layout: fixed;
}